
.footer-background{
    background-color: rgb(59, 59, 59);
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.footer-background h1{
    color: white;
    font-size: 12px;
}