.container-center{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.legends-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.legend-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.legend-profile-pic{
    width: 200px;
    border-radius: 10px;
    
}

.legend-profile-container{
    display: grid;
    justify-content: center;
}

.profile-content{
    position: relative;
    background-color: rgb(185, 185, 185);
    margin-top: 5px;
    width: 330px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.legend-profile-edit{
    position: absolute;
    right: 9px;
    top: 5px;
    background-color: rgba(124, 0, 120, 0.805);
    padding: 3px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    
}

.edit-profile-form{
    position: relative;
    background-color: rgb(185, 185, 185);
    margin-top: 5px;
    width: 330px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

.profile-input{
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
}

.profile-input input{
    padding: 3px 6px;
    border-radius: 2px;
}


.legend-profile-save{
    background-color: green;
    margin-top: 10px;
    padding: 4px 20px;
    color: white;
    border-radius: 4px;
    font-weight: 600;
}